<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>hello world</h1>
    <h2>Welcome to IonLLC</h2>
    <nav id="navbar"
            class=" nav-bar sticky-top d-flex justify-content-between bg-body-tertiary bg-transparent navbar-light">
            <div class="container d-flex justify-content-between align-items-center ">
                <div class="col-7">
                    <img class="img-fluid" src="../resourcesFiles/healthifyLogo.png" alt="IONLLC LOGO">
                </div>
                <div class="col-5 d-flex nav-item justify-content-between">
                    <a class="navlink text-right" href="/signup">SIGN UP</a>
                    <a class="navlink" href="/login">LOGIN</a>
                    <a class="navlink" href="">FEATURES</a>
                    <a class="navlink" href="">BLOG</a>
                    <a class="navlink " href="">CONTACT</a>
                </div>
            </div>
        </nav>
</body>
</html>