<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/signup" method="post">
        <label for="fullName">fullName</label>
        <input type="text" name="fullName">
        <br>
        <label for="Username">Username</label>
        <input type="text" name="userName">
        <br>
        <label for="email">Email</label>
        <input type="email" name="Email" id="">
        <br>
        <label for="phoneNumbwe">Phone Number</label>
        <input type="number" name="phoneNumber" id="">
        <br>
        <label for="Password">Password</label>
        <input type="text" name="Password">
        <br>
        <label for="confirmPassword">confirmPassword</label>
        <input type="text" name="confirmPassword">

        <button type="submit" href="" >Sign UP</button>
    </form>
</body>
</html>